li { 
	display: left;
}

a {
	display: block;
	padding: 9px;
	background-color: PapayaWhip;
	font-size: 15px;
}
	

body {
    background-color: antiquewhite;
	    border: solid midnightblue;
		     font-family: Georgia, serif;
}

title {
	color: midnightblue;
}

h1 {
    color: midnightblue;
}

h2 {
	color: midnightblue;
}

p {
	color: darkmagenta;
}


