

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
	
body {
    background-color: antiquewhite;
	    border: solid midnightblue;
		     font-family: Georgia, serif;
}

title {
	color: midnightblue;
}

h1 {
    color: midnightblue;
}

h2 {
	color: midnightblue;
}

p {
	color: darkmagenta;
}


