

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkmagenta;
}

li {
  float: left;
}

li a {
  display: block
  ;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
	
body {
    background-color: antiquewhite;
	    border: solid midnightblue;
		     font-family: Georgia, serif;
}

title {
	color: midnightblue;
}

h1 {
    color: midnightblue;
}

h2 {
	color: midnightblue;
}

p {
	color: darkmagenta;
}


